@charset "UTF-8";
html{
    height:100%;
}
body{
    background: url(../img/bg_select.png) no-repeat top;
    background-size: cover;
    color: #fff;
    text-align:center;
}

p{
    margin-top:1.8rem;
    font-size:.48rem;
    font-weight:bold;
}

h6{
    font-size:.56rem;
    letter-spacing:.27rem;
    margin-bottom:1.6rem;

}
.g_title{
    font-size:.28rem;
    font-weight:normal;

}

.g_wrap{
    margin-top:.6rem;
    margin-left:1.44rem;
}
.g_wrap img{
    width:1.8rem;
    height:1.8rem;
}
.g_wrap li{
    width:1.82rem;

}
.g_wrap li.mr_100{
    margin-right:1rem;
}

.g_wrap div{
    font-size:.32rem;
    color:#fff;
    text-align:center;
}

.m_dialog{
    padding:.6rem .2rem .6rem .25rem;
    margin:3.17rem auto 0;
}
.btn_sure{
    margin-top:1.03rem;
    margin-bottom:0;
}