@charset "UTF-8";
body{
    padding:.3rem;
    background:#f5f5f5;

}
.g_wrap{
    box-shadow: 2px 2px 2px 0 #eee;
    font-size:.26rem;
    color:#666;
    background:#fff;
    border-radius:5px;
    margin-bottom:.2rem;
    padding-bottom:.3rem;
}
.g_wrap p{
    border-bottom:.01rem solid #ebebeb;
    margin:0 .19rem;
    padding-top:.32rem;
    padding-bottom:.31rem;
}
.g_wrap p.m_content span{
   display:block;
    margin-top:.3rem;
}
.g_wrap span{
    color:#333;
}
.btn_sure{
    margin-top:0;
    margin-bottom:.2rem;
}
.mt_4{
    margin-top:4.83rem;
}
.btn_cancel{
    margin-bottom:.6rem;
}
